<header class="bg-primary before:content-[''] before:block before:absolute before:left-0 before:top-0 before:z-[-1] before:w-full before:h-full before:bg-gradient-to-r before:from-white/20 before:to-black/20 fixed top-0 left-0 z-10 w-full text-white transition-all duration-300 ease-in-out will-change-height px-2 md:px-4 py-2" data-scroll-animation-target="header">
  <div class="w-full max-w-5xl mx-auto flex justify-between items-center transition-all duration-300 ease-in-out">
    {% comment %} title & description {% endcomment %}
    <div class="flex px-4 truncate transition-all duration-300 ease-in-out ctm-header_center mt-7 sm:mt-10 md:px-0">
      <div class="flex-0 justify-items-start">
        {% assign logo = 'images/logo.png' | asset_url %}
        <img src="{{ site.favicon_url | default: logo }}" class="h-10 mr-2 justify-items-start" />
      </div>
      <div>
        <h1>
          <a href="{{site.index_path}}" class="text-lg font-semibold hover:underline sm:text-2xl">{{ site.name }}</a>
        </h1>
        <small class="block transition-all duration-300 ease-in-out opacity-100 asleep_toggle">{{ site.settings.slogan }}</small>
      </div>
    </div>
    <div class="items-end hidden md:flex">
      <div class="flex-wrap items-center justify-start space-x-2 grow">
        {{ site.settings.header_menu_html }}
      </div>
      {% if current_user %}
        <span class="mr-2">{{current_user.name}}</span>
        {% form_tag 'sign_out' %}
          <button class="text-slate-600">{{ 'buttons.signout' | t }}</button>
        {% endform_tag %}
      {% endif %}
    </div>
    <div class="items-end flex md:hidden">
      <div class="relative z-30" x-data="{ isOpen: false, openedWithKeyboard: false }"  @keydown.esc.window="isOpen = false, openedWithKeyboard = false">
        <!-- Toggle Button -->
        <button type="button" @click="isOpen = ! isOpen" class="inline-flex cursor-pointer items-center gap-1 whitespace-nowrap rounded-lg border border-gray-200 bg-white px-2 py-1 text-sm font-medium tracking-wide transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-500 dark:border-neutral-700 dark:bg-neutral-800 dark:focus-visible:outline-neutral-600" aria-haspopup="true" @keydown.space.prevent="openedWithKeyboard = true" @keydown.enter.prevent="openedWithKeyboard = true" @keydown.down.prevent="openedWithKeyboard = true" :class="isOpen || openedWithKeyboard ? 'text-neutral-700 dark:text-white' : 'text-neutral-500 dark:text-violet-100'" :aria-expanded="isOpen || openedWithKeyboard">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 w-6 h-6">
            <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
          </svg>
        </button>
        <!-- Dropdown Menu -->
        <div x-cloak x-show="isOpen || openedWithKeyboard" x-transition x-trap="openedWithKeyboard" @click.outside="isOpen = false, openedWithKeyboard = false" @keydown.down.prevent="$focus.wrap().next()" @keydown.up.prevent="$focus.wrap().previous()" 
          class="absolute z-40 top-10 right-0 flex w-full min-w-64 flex-col overflow-hidden rounded-md border border-accent-100 px-3 py-2 bg-slate-100" role="menu">
          {% if current_user %}
            <span class="mr-2">{{current_user.name}}</span>
            {% form_tag 'sign_out' %}
              <button class="text-slate-600">{{ 'buttons.signout' | t }}</button>
            {% endform_tag %}
          {% endif %}
          <hr/>
          <div class="flex flex-col space-y-1 text-slate-800">
            {{ site.settings.header_menu_html }}
          </div>
          <hr/>
          {% render 'sidebar', site: site %}
        </div>
      </div>
      
    </div>
</header>
